<!doctype html>
<html ng-app="countApp">
  <head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body ng-controller="FileController" ng-cloak>

    <p>Export your <a href="http://ankisrs.net/">Anki</a> deck as plain text, and then open the file here
    for a summary of your kanji progress. Duplicates will be
    automatically removed.</p>

    <p>Any text file which contains all of the kanji that you know will work.</p>

    <p>I have made no attempt whatever to test this on IE, but I can
    guarantee it won't work on anything less than IE 10 because that
    is the first version to support the file api.</p>

    <fileinput ng-model="files"> </fileinput>

    <div ng-show="kanjiMatches.length > 0">
      <section class="summary">
        <h2>All Kanji Learned ({{aggregateMatches.matches.length}}/{{aggregateMatches.kanjis.length}})</h2>
        <p>{{aggregateMatches.matches}}</p>
      </section>

      <section ng-repeat="match in kanjiMatches">
        <h2>{{match.displayName}} ({{match.matches.length}}/{{match.kanjis.length}})</h2>
        <p>To learn:</p>
        <p>{{match.misses}}</p>
      </section>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.2.1/lodash.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js"></script>
    <script src="count.js" charset="UTF-8"></script>
  </body>
</html>
